<div class='overlay'>
  <div class='popup'>
    <div class='close'>x</div><!-- close button-->
      <h2>INFO</h2> <!-- title food the popup-->
      <p>This is an open Thinktank for everyone on the Internet.
      Feel free to share all unpolished reflections, references or ideas
      you are thinking about at the moment. Your content will be added within
      5 categories: PUBLICATIONS, PEOPLE, TOPICS, PLACES and QUESTIONS.
      Feel free to add as much as you like to each category, but you have to add at least something
      within each (Come on, it's not that hard).
      All your entries will be saved anonymously.
      <br>
      As a reward, you'll get to see someone elses thoughts!
      All shared thoughts are copyright free and open for you to use
      for your own thoughts.
      <br>
      <br>
      All thoughts are to be handled with respect.
      Thoughts that are made to deprive others are prohibited.
      All thoughts are made by their respective authors and do not
      necessarily represent the thoughts of the project initiators.
      </p>
      <!-- popup content goes here -->
  </div>
</div>

<div class="general_content">
  <button class="button">+info</button>
  <% if @content.errors.any? %>
    <div>
      <ul class="content-wrapper errors">
        <% @content.errors.full_messages.each do |message|%>
        <li class="content-errors"><%= message %>!</li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= simple_form_for @content do |f| %>
    <div>
      <div class="form-wrapper">
        <div class="form-input-field publication input-sizer">
          <%= f.text_area :publication, label: false, placeholder: 'Publications', error: 'Try to think of at least one publication'%>
        </div>
        <div class="form-input-field person">
          <%= f.text_area :person, label: false, placeholder: 'People', error: 'Try to think of at least one person' %>
        </div>
        <div class="form-input-field keyword">
          <%= f.text_area :keyword, label: false, placeholder: 'Topics', error: 'Try to think of at least one keyword' %>
        </div>
        <div class="form-input-field place">
          <%= f.text_area :place, label: false, placeholder: 'Places', error: 'Try to think of at least one place' %>
        </div>
        <div class="form-input-field question">
          <%= f.text_area :question, label: false, placeholder: 'Questions', error: 'Try to ask at least one question' %>
        <div id="btn-submit">
          <%= f.submit "Submit"%>
        </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
