<ul class="list-unstyled">
    <li>
      <span><%= @content.publication %></span>
      <span><%= @content.person %></span>
      <span><%= @content.keyword %></span>
      <span><%= @content.place %></span>
      <span><%= @content.question %></span>
    </li>
</ul>
