<div class="general_content">
  <ul class="content-wrapper">
    <li class="content-publications">
      <%= @content.publication %>
    </li>
    <li class="content-people">
      <%= @content.person %>
    </li>
    <li class="content-keywords">
      <%= @content.keyword %>
    </li>
    <li class="content-places">
      <%= @content.place %>
    </li>
    <li class="content-questions">
      <%= @content.question %>
    </li>
  </ul>
</div>
