<!DOCTYPE html>
<html>
  <head>
    <title>OUR 〜 THINKTANK</title>
    <%= favicon_link_tag asset_path('icon_thinktank.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="description" content="A Thinktank for the Internet. All Thoughts are welcome.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
